.lumi-clean-landing-page-3000,
.lumi-clean-landing-page-3000 * {
  box-sizing: border-box;
}
.lumi-clean-landing-page-3000 {
  background: #ffffff;
  height: 2847px;
  position: relative;
  overflow: hidden;
}
.rectangle-1490 {
  background: linear-gradient(
    180deg,
    rgba(213, 244, 255, 1) 0%,
    rgba(246, 252, 254, 1) 100%
  );
  width: 1920px;
  height: 875px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.rectangle-1491 {
  background: #f5fbfe;
  width: 1920px;
  height: 950px;
  position: absolute;
  left: 0px;
  top: 947px;
}
.group-2606 {
  position: absolute;
  inset: 0;
}
.group-2603-2 {
  width: 278.76px;
  height: 438.06px;
  position: absolute;
  left: 1390.24px;
  top: 307.66px;
  object-fit: cover;
}
.group-2603-3 {
  width: 278.76px;
  height: 438.06px;
  position: absolute;
  left: 992px;
  top: 307.66px;
  object-fit: cover;
}
.group-2603-1 {
  width: 353.43px;
  height: 555.54px;
  position: absolute;
  left: 1152.29px;
  top: 232px;
  object-fit: cover;
}
.rectangle-1182 {
  background: #ffffff;
  width: 1920px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-2519 {
  height: auto;
  position: absolute;
  left: 250px;
  top: 16px;
  overflow: visible;
}
.rectangle-1485 {
  background: #f5fbfe;
  width: 1920px;
  height: 950px;
  position: absolute;
  left: 0px;
  top: 1897px;
}
.group-2642 {
  position: absolute;
  inset: 0;
}
.group-2636 {
  width: 175px;
  height: 134px;
  position: static;
}
.group-2523 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 364px;
  top: 2462px;
  overflow: visible;
}
.dual-uv-c-ozone-technology {
  color: #222627;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 643px);
  top: 2554px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2637 {
  width: 175px;
  height: 137px;
  position: static;
}
.group-2633 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 564px;
  top: 2462px;
  overflow: visible;
}
.targets-germs-viruses-particles {
  color: #222627;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 443px);
  top: 2554px;
  width: 175px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2638 {
  width: 175px;
  height: 137px;
  position: static;
}
.group-2634 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 764px;
  top: 2462px;
  overflow: visible;
}
.disinfects-both-air-and-surfaces {
  color: #222627;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 243px);
  top: 2554px;
  width: 175px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2639 {
  width: 175px;
  height: 137px;
  position: static;
}
.group-2631 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 364px;
  top: 2628px;
  overflow: visible;
}
.chemical-free-eco-friendly {
  color: #222627;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 643px);
  top: 2720px;
  width: 175px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2640 {
  width: 175px;
  height: 160px;
  position: static;
}
.group-2632 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 564px;
  top: 2631px;
  overflow: visible;
}
.targets-allergens-like-dust-mite-mold-spores {
  color: #222627;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 443px);
  top: 2723px;
  width: 175px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2641 {
  width: 175px;
  height: 137px;
  position: static;
}
.group-2635 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 764px;
  top: 2631px;
  overflow: visible;
}
.eliminates-musty-odor {
  color: #222627;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 243px);
  top: 2723px;
  width: 175px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 710px;
  height: 950px;
  position: absolute;
  left: 960px;
  top: 1897px;
  object-fit: cover;
}
.group-2623 {
  position: absolute;
  inset: 0;
}
.group-2621 {
  width: 650px;
  height: 548px;
  position: static;
}
.group-2620 {
  width: 650px;
  height: 238px;
  position: static;
}
.stop-second-guessing-your-cleaning-finally-achieve-true-sanitization-with-a-push-of-a-button {
  color: #161920;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 300px;
  top: 442px;
  width: 550px;
}
.from-stress-to-serenity-give-your-family-the-peace-of-mind-they-deserve {
  color: #002b5b;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0.01em;
  font-weight: 700;
  position: absolute;
  left: 250px;
  top: 256px;
  width: 650px;
}
.group-2619 {
  width: 632px;
  height: 130px;
  position: static;
}
.group-2613 {
  width: 200px;
  height: 130px;
  position: static;
}
.rectangle-1492 {
  background: #ffffff;
  border-radius: 12px;
  width: 200px;
  height: 130px;
  position: absolute;
  left: 259px;
  top: 518px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
.group-2612 {
  width: 160px;
  height: 98px;
  position: static;
}
.targets-germs-bacteria {
  color: #404749;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 279px;
  top: 592px;
  width: 160px;
}
.image-73582 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 335px;
  top: 534px;
  object-fit: cover;
  aspect-ratio: 1;
}
.group-2615 {
  width: 200px;
  height: 130px;
  position: static;
}
.rectangle-1493 {
  background: #ffffff;
  border-radius: 12px;
  width: 200px;
  height: 130px;
  position: absolute;
  left: 475px;
  top: 518px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
.group-2614 {
  width: 160px;
  height: 98px;
  position: static;
}
.uv-c-ozone-technology {
  color: #404749;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 495px;
  top: 592px;
  width: 160px;
}
.image2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 551px;
  top: 534px;
  object-fit: cover;
  aspect-ratio: 1;
}
.group-2617 {
  width: 200px;
  height: 130px;
  position: static;
}
.rectangle-1494 {
  background: #ffffff;
  border-radius: 12px;
  width: 200px;
  height: 130px;
  position: absolute;
  left: 691px;
  top: 518px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
.group-2616 {
  width: 160px;
  height: 98px;
  position: static;
}
.whole-room-disinfection {
  color: #404749;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.01em;
  font-weight: 400;
  position: absolute;
  left: 711px;
  top: 592px;
  width: 160px;
}
.image3 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 767px;
  top: 534px;
  object-fit: cover;
  aspect-ratio: 1;
}
.group-2618 {
  width: 643px;
  height: 116px;
  position: static;
}
.group-3 {
  width: 643px;
  height: 80px;
  position: static;
}
.rectangle-2 {
  background: #cb0d20;
  border-radius: 100px;
  width: 643px;
  height: 80px;
  position: absolute;
  left: 253px;
  top: 688px;
}
.yes-i-want-a-clean-home {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 546px);
  top: 713px;
}
.group-2709 {
  width: 313px;
  height: 24px;
  position: static;
}
.guarantee-icon-5-a-6-f-5-a-73-be-2-e-40-b-1-a-6-f-8-848-dd-9-d-5082-f-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 418px;
  top: 780px;
  overflow: hidden;
}
.guarantee-icon-5-a-6-f-5-a-73-be-2-e-40-b-1-a-6-f-8-848-dd-9-d-5082-f-svg-fill {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
._60-day-money-back-guarantee {
  color: #222627;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.72px;
  font-weight: 400;
  position: absolute;
  left: 450px;
  top: 780px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-25 {
  background: #ffffff;
  border-radius: 50px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 372px;
  top: 200px;
  box-shadow: 0px 0px 25px 0px rgba(0, 43, 91, 0.05);
}
.group-2622 {
  flex-shrink: 0;
  width: 132px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._20-000-home-disinfected {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  letter-spacing: 0.72px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2628 {
  position: absolute;
  inset: 0;
}
.group-2627 {
  width: 600px;
  height: 397px;
  position: static;
}
.hospital-like-disinfection-reimagined-for-your-home {
  color: #1773b0;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 655px);
  top: 2012px;
  width: 600px;
}
.imagine-a-device-that-goes-beyond-surface-cleaning-reaching-every-corner-of-your-room-sanitizing-not-just-surfaces-but-the-very-air-you-breathe-lumiclean-harnesses-of-hospital-like-uv-c-light-and-natural-ozone-to-deliver-a-level-of-cleanliness-you-simply-can-t-achieve-with-conventional-methods-it-s-the-same-technology-trusted-in-operating-rooms-and-laboratories-now-designed-for-safe-and-easy-use-in-your-home-with-just-the-push-of-a-button-lumiclean-floods-your-room-with-germ-killing-power-targeting-bacteria-viruses-mold-spores-and-dust-mites-it-s-hands-free-chemical-free-and-incredibly-effective {
  color: #222627;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 305px;
  top: 2132px;
  width: 600px;
}
.imagine-a-device-that-goes-beyond-surface-cleaning-reaching-every-corner-of-your-room-sanitizing-not-just-surfaces-but-the-very-air-you-breathe-lumiclean-harnesses-of-hospital-like-uv-c-light-and-natural-ozone-to-deliver-a-level-of-cleanliness-you-simply-can-t-achieve-with-conventional-methods-it-s-the-same-technology-trusted-in-operating-rooms-and-laboratories-now-designed-for-safe-and-easy-use-in-your-home-with-just-the-push-of-a-button-lumiclean-floods-your-room-with-germ-killing-power-targeting-bacteria-viruses-mold-spores-and-dust-mites-it-s-hands-free-chemical-free-and-incredibly-effective-span {
  color: #222627;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}
.imagine-a-device-that-goes-beyond-surface-cleaning-reaching-every-corner-of-your-room-sanitizing-not-just-surfaces-but-the-very-air-you-breathe-lumiclean-harnesses-of-hospital-like-uv-c-light-and-natural-ozone-to-deliver-a-level-of-cleanliness-you-simply-can-t-achieve-with-conventional-methods-it-s-the-same-technology-trusted-in-operating-rooms-and-laboratories-now-designed-for-safe-and-easy-use-in-your-home-with-just-the-push-of-a-button-lumiclean-floods-your-room-with-germ-killing-power-targeting-bacteria-viruses-mold-spores-and-dust-mites-it-s-hands-free-chemical-free-and-incredibly-effective-span2 {
  color: #222627;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
}
.imagine-a-device-that-goes-beyond-surface-cleaning-reaching-every-corner-of-your-room-sanitizing-not-just-surfaces-but-the-very-air-you-breathe-lumiclean-harnesses-of-hospital-like-uv-c-light-and-natural-ozone-to-deliver-a-level-of-cleanliness-you-simply-can-t-achieve-with-conventional-methods-it-s-the-same-technology-trusted-in-operating-rooms-and-laboratories-now-designed-for-safe-and-easy-use-in-your-home-with-just-the-push-of-a-button-lumiclean-floods-your-room-with-germ-killing-power-targeting-bacteria-viruses-mold-spores-and-dust-mites-it-s-hands-free-chemical-free-and-incredibly-effective-span3 {
  color: #222627;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}
.frame-252 {
  background: #ffffff;
  border-radius: 50px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 451px;
  top: 1953px;
  box-shadow: 0px 0px 25px 0px rgba(0, 43, 91, 0.05);
}
.guarantee-icon-5-a-6-f-5-a-73-be-2-e-40-b-1-a-6-f-8-848-dd-9-d-5082-f-svg2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.guarantee-icon-5-a-6-f-5-a-73-be-2-e-40-b-1-a-6-f-8-848-dd-9-d-5082-f-svg-fill2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.guarantee-icon-5-a-6-f-5-a-73-be-2-e-40-b-1-a-6-f-8-848-dd-9-d-5082-f-svg3 {
  width: 19.43px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.introducing-lumiclean {
  color: #000000;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: 0.72px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2630 {
  position: absolute;
  inset: 0;
}
.group-2625 {
  width: 600px;
  height: 368px;
  position: static;
}
.did-you-know-that-20-of-pathogens-survive-after-cleaning {
  color: #1773b0;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  left: 1016px;
  top: 1160px;
  width: 600px;
}
.you-meticulously-wipe-down-surfaces-you-vacuum-religiously-but-deep-down-a-nagging-worry-persists-is-it-really-clean-enough-the-truth-is-standard-cleaning-methods-often-fall-short-wipes-and-sprays-only-sanitize-where-they-touch-missing-hidden-crevices-fabrics-and-even-the-air-you-breathe-microscopic-germs-and-bacteria-can-linger-silently-impacting-your-peace-of-mind-think-about-it-dust-mites-thrive-in-mattresses-bacteria-cling-to-countertops-and-odor-sticks-into-walls-furniture-and-trash-cans {
  color: #222627;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1016px;
  top: 1320px;
  width: 600px;
}
.you-meticulously-wipe-down-surfaces-you-vacuum-religiously-but-deep-down-a-nagging-worry-persists-is-it-really-clean-enough-the-truth-is-standard-cleaning-methods-often-fall-short-wipes-and-sprays-only-sanitize-where-they-touch-missing-hidden-crevices-fabrics-and-even-the-air-you-breathe-microscopic-germs-and-bacteria-can-linger-silently-impacting-your-peace-of-mind-think-about-it-dust-mites-thrive-in-mattresses-bacteria-cling-to-countertops-and-odor-sticks-into-walls-furniture-and-trash-cans-span {
  color: #222627;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}
.you-meticulously-wipe-down-surfaces-you-vacuum-religiously-but-deep-down-a-nagging-worry-persists-is-it-really-clean-enough-the-truth-is-standard-cleaning-methods-often-fall-short-wipes-and-sprays-only-sanitize-where-they-touch-missing-hidden-crevices-fabrics-and-even-the-air-you-breathe-microscopic-germs-and-bacteria-can-linger-silently-impacting-your-peace-of-mind-think-about-it-dust-mites-thrive-in-mattresses-bacteria-cling-to-countertops-and-odor-sticks-into-walls-furniture-and-trash-cans-span2 {
  color: #222627;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
}
.you-meticulously-wipe-down-surfaces-you-vacuum-religiously-but-deep-down-a-nagging-worry-persists-is-it-really-clean-enough-the-truth-is-standard-cleaning-methods-often-fall-short-wipes-and-sprays-only-sanitize-where-they-touch-missing-hidden-crevices-fabrics-and-even-the-air-you-breathe-microscopic-germs-and-bacteria-can-linger-silently-impacting-your-peace-of-mind-think-about-it-dust-mites-thrive-in-mattresses-bacteria-cling-to-countertops-and-odor-sticks-into-walls-furniture-and-trash-cans-span3 {
  color: #222627;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}
.you-meticulously-wipe-down-surfaces-you-vacuum-religiously-but-deep-down-a-nagging-worry-persists-is-it-really-clean-enough-the-truth-is-standard-cleaning-methods-often-fall-short-wipes-and-sprays-only-sanitize-where-they-touch-missing-hidden-crevices-fabrics-and-even-the-air-you-breathe-microscopic-germs-and-bacteria-can-linger-silently-impacting-your-peace-of-mind-think-about-it-dust-mites-thrive-in-mattresses-bacteria-cling-to-countertops-and-odor-sticks-into-walls-furniture-and-trash-cans-span4 {
  color: #222627;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
}
.you-meticulously-wipe-down-surfaces-you-vacuum-religiously-but-deep-down-a-nagging-worry-persists-is-it-really-clean-enough-the-truth-is-standard-cleaning-methods-often-fall-short-wipes-and-sprays-only-sanitize-where-they-touch-missing-hidden-crevices-fabrics-and-even-the-air-you-breathe-microscopic-germs-and-bacteria-can-linger-silently-impacting-your-peace-of-mind-think-about-it-dust-mites-thrive-in-mattresses-bacteria-cling-to-countertops-and-odor-sticks-into-walls-furniture-and-trash-cans-span5 {
  color: #222627;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}
.group-2629 {
  width: 600px;
  height: 116px;
  position: static;
}
.group-2624 {
  width: 600px;
  height: 80px;
  position: static;
}
.rectangle-22 {
  background: #cb0d20;
  border-radius: 100px;
  width: 600px;
  height: 80px;
  position: absolute;
  left: 1016px;
  top: 1568px;
}
.deep-clean-my-house-from-unseen-threats {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -137px);
  top: 1579px;
  width: 437px;
}
.group-2710 {
  width: 313px;
  height: 24px;
  position: static;
}
.guarantee-icon-5-a-6-f-5-a-73-be-2-e-40-b-1-a-6-f-8-848-dd-9-d-5082-f-svg4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1160px;
  top: 1660px;
  overflow: hidden;
}
._60-day-money-back-guarantee2 {
  color: #222627;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0.72px;
  font-weight: 400;
  position: absolute;
  left: 1192px;
  top: 1660px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image4 {
  width: 710px;
  height: 950px;
  position: absolute;
  left: 250px;
  top: 947px;
  object-fit: cover;
}
.image-73583 {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 505px;
  top: 1322px;
  object-fit: cover;
  aspect-ratio: 1;
}
