.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 250px;
  background-color: #fff;
  width: 100%;
  height: 72px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 565px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.hamburger-icon {
  width: 24px;
  height: 24px;
  display: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.cart-container {
  display: flex;
  align-items: center;
}

.cart-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  gap: 8px;
}

@media (max-width: 991px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-container {
    gap: 32px;
  }
}

@media (max-width: 640px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-container {
    gap: 16px;
  }

  .hamburger-icon {
    display: block;
  }

  .nav-list {
    display: none;
  }
}
