/* Inter Font Family */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Static fonts (For older browsers) */

@font-face { font-family: \"Inter\"; font-style: normal; font-weight: 400; font-display: swap; src: url(\"../fonts/inter/static/Inter_18pt-Regular.ttf\") format(\"truetype\"); }
@font-face { font-family: \"Inter\"; font-style: normal; font-weight: 500; font-display: swap; src: url(\"../fonts/inter/static/Inter_18pt-Medium.ttf\") format(\"truetype\"); }
@font-face { font-family: \"Inter\"; font-style: normal; font-weight: 600; font-display: swap; src: url(\"../fonts/inter/static/Inter_18pt-SemiBold.ttf\") format(\"truetype\"); }
@font-face { font-family: \"Inter\"; font-style: normal; font-weight: 700; font-display: swap; src: url(\"../fonts/inter/static/Inter_18pt-Bold.ttf\") format(\"truetype\"); }
@font-face { font-family: \"Inter\"; font-style: normal; font-weight: 800; font-display: swap; src: url(\"../fonts/inter/static/Inter_18pt-ExtraBold.ttf\") format(\"truetype\"); }
